@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.header_nav_bar .sidebar{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.header_nav_bar .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.header_nav_bar .sidebar .profile img{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    outline-width: 2px;
    outline-color: black;
}

.header_nav_bar .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.header_nav_bar .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.header_nav_bar .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.header_nav_bar .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.header_nav_bar .sidebar ul li a:hover,
.header_nav_bar .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.header_nav_bar .sidebar ul li a:hover .icon,
.header_nav_bar .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.header_nav_bar .sidebar ul li a:hover:before,
.header_nav_bar .sidebar ul li a.active:before{
    display: block;
}

.header_nav_bar .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.header_nav_bar .section .top_navbar{
    background: rgb(0,0,0);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.header_nav_bar .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.header_nav_bar .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .header_nav_bar .sidebar{
    left: -225px;
}

body.active .header_nav_bar .section{
    margin-left: 0;
    width: 100%;
}

main {
    margin-left: 225px;
    padding: 10px;
    transition: all 0.5s ease;
    
}

main.active {
    margin-left: 0px;
    padding: 10px;
}

#drop_zone {
    border: 2px solid rgb(162, 162, 162);
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(251, 251, 209);
}

.disableSelect {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/* main .pageContent .fleContainer .fileContainerToolbar{
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
}

main .pageContent .fleContainer .fileContainerToolbar .languageSelectionPanel{
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
}

main .pageContent .fileContainer {
    display: flex;
    width: 100%
} */