@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.header_nav_bar .sidebar{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 245px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.header_nav_bar .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.header_nav_bar .sidebar .profile img{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    outline-width: 2px;
    outline-color: black;
}

.header_nav_bar .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

/* No clue what this is for */
.header_nav_bar .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.header_nav_bar .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #FFBB00;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.header_nav_bar .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.header_nav_bar .sidebar ul li a:hover,
.header_nav_bar .sidebar ul li a.active{
    color: black;

    background:white;
    border-right: 4px solid #FFBB00;;;
}

.header_nav_bar .sidebar ul li a:hover .icon,
.header_nav_bar .sidebar ul li a.active .icon{
    color: black;
}

.header_nav_bar .sidebar ul li a:hover:before,
.header_nav_bar .sidebar ul li a.active:before{
    display: block;
}

.header_nav_bar .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.header_nav_bar .section .top_navbar{
    background: rgb(0,0,0);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.header_nav_bar .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.header_nav_bar .section .top_navbar .hamburger a:hover{
    color: #FFBB00;
}

body.active .header_nav_bar .sidebar{
    left: -245px;
}

body.active .header_nav_bar .section{
    margin-left: 0;
    width: 100%;
}

main {
    margin-left: 245px;
    padding: 10px;
    transition: all 0.5s ease;
    min-width: 300px;
    
}

main.active {
    margin-left: 0px;
    padding: 10px;
}

#drop_zone {
    border: 2px solid rgb(162, 162, 162);
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(251, 251, 209);
    display:block;
}

textarea {
    border: none;
    outline: none;
    max-width: 100%; 
    max-height: 100%;
    min-height: 29px;
    resize: vertical;
    width:100%; 
    font-size: 16pt;
}

.textAreaContainer {
    display: block;
    border-width:1.5px;
    border-style:solid;
    border-color:black;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#tableContainer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.disableSelect {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
#commonPhrasesTable th {
    background-color: #FFBB00;
}

#commonPhrasesTable tr td {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-collapse: collapse ;
    border: 1px black solid;
    width: 50%;
    cursor: pointer;  
}

#commonPhrasesTable tr:nth-child(odd) td:nth-child(even),
#commonPhrasesTable tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

#commonPhrasesTable tr:hover td:hover {
    background-color:gray;
}

#commonPhrasesTable th {
    font-size: 20px;
    padding: 10px;
}

h1 {
    text-align:center;
    font-weight: 100;
    padding-top: 15px;
    padding-bottom: 30px;
}

.buttonContainer {
    padding-top: 10px; 
    padding-bottom:10px;
    align-self:center;
}

button {
    background-color:#FFBB00;
    font: 14px proxima-nova, sans-serif;
    color: #000000;
    padding: 3px 5px;
}

button:hover {
    background-color:white;
    cursor: pointer;
}

button:hover:disabled {
    background-color:#FFBB00;
    font: 14px proxima-nova, sans-serif;
    color: #000000;
    padding: 3px 5px;
    cursor: default;
}

#translateText{
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

p {
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: 14pt;
}

#srcResult, #dstResult {
    display: none;
}

#swapButtonContainer, #tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#commonPhrasesToolTip {
    float: right;
}

#logo {
    color: white; 
    display:table;
    margin: 0 auto;
    font-family: "Overpass", Courier;
    font-size: 22px;
    font-weight: 600;
    color:#FFBB00;
}

.currencyInputArea {
    padding-top: 20px;
}

.currencyInput {
    font-size: 20px;
}

.currencySelection {
    font-size: 20px;
}

#convertCurrencyButtonArea {
    padding: 20px;
}

#convertCurrencyButton {
    font-size: 20px;
}